<!DOCTYPE html>
<html lang="en">
  {{>head}}
  <body>
    <!-- navbar -->
   {{>nav}}
    <!-- main header -->
    <style>
      h1{
        color: white;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 5rem;
        font-weight: 500;
        font-style: italic;
      }
    </style>
    <div class="container-fluid main_menu">
      <div class="err">
        {{!-- <img src="img/404.png" width="50%"> --}}
        <h1>{{errorMsg}}</h1>
      </div>
    </div>
  </body>
</html>
