<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>
  <!-- navbar -->
  {{>nav}}
  <!-- main header -->
  <div class="container-fluid main_menu">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <!-- left side div -->
          <div class="col-md-6 col-12 main_header_left1">
            <p>Welcome to Weather App</p>
            <h1>Get the Latest <span>Weather</span> Info of Your City</h1>
            <a href="/weather"><button>check now</button></a>
          </div>
          <!-- right side div -->
          <div class="col-md-6 col-12 main_header_right1">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <figure>
                  <div class="carousel-item active">
                    <img src="img/ggg.png" class=" w-100" alt="...">
                  </div>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>