<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>
    <!-- navbar -->
    {{>nav}}
    <!-- main header -->
    <div class="container-fluid main_menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main_content">
                    <form class="form_temp">
                        <input type="text" class="city" id="city" placeholder="Enter City name ...">
                        <input type="submit" value="search" id="submitBtn"> 
                    </form>
                </div>
            </div>

            <div class="information">
                <div class="top_layer">
                    <p id="day" class="day">Tue</p>
                    <p id="today_data" class="today_data">13 OCT</p>
                </div>

                <div class="main_layer">
                    <p class="city_name" id="city_name">Get Output</p>
                    <div class="middle_layer data_hide">
                        <p id="temp" class="temp"><span>0</span><sup>o</sup>C</p>
                        {{!-- <p id="temp_status" class="temp_status"></p> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <script src="js/main.js"></script>
</body>

</html>