<div class="container-fluid main_menu">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div>
            <nav
              class="navbar navbar-expand-sm">
              <div class="container-fluid">
                <a class="navbar-brand fa fa-home" href="/">&nbsp;Weather</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link  active" href="/"
                        ><i class="fa"></i>Home</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active"  href="/weather"
                        ><i class="fa"></i>Weather</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="/about"
                        ><i class="fa"></i>About</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>